#### 2020136060 배수민

# 일반 문제

### 1번

L=[1, 2, 3, 4, 5]일 때 다음 각 문장을 수행한 후의 결과를 보고 납득할 만한 이유를 설명하시오.

In [26]:
L = [1, 2, 3, 4, 5]

In [23]:
# 1번
L[1:3] = [100]
print(L)

[1, 100, 5]

### 이유

L[1:3]은 리스트이기 때문에 같은 리스트인 [100]으로 대체가 가능하다. 그래서 [2, 3, 4]를 [100]으로 대체하고 출력값이 [1, 100, 5]가 나오는 것이다.

In [27]:
L[1:3] = [(100)]
print(L)

[1, 100, 4, 5]

### 이유

In [6]:
L[1:3] = 100
print(L)

TypeError: can only assign an iterable

In [7]:
L[1:3] = (100)
print(L)

TypeError: can only assign an iterable

In [8]:
L[1:3] = (100, 101, 102)
print(L)

[1, 100, 101, 102]

In [9]:
L[1:3] = [100, 101, 102]
print(L)

[1, 100, 101, 102, 102]

In [10]:
L[1:3] = [(100, 101, 102)]
print(L)

[1, (100, 101, 102), 102, 102]

In [12]:
L[1:3] = [[100, 101, 102]]
print(L)

[1, [100, 101, 102], 102]

### 2번

문자열 S = 'Hello World and Python'에 대해 다음 요구사항에 대한 Python 코드를 제시하시오.  
* 1) 단어의 순서가 역순으로 되어진 문자열 ('Python and World Hello')을 만들고
* 2) 1)의 결과 문자열에 대해 메소드 split과 join을 이용하여 공백을 모두 없앤 문자열 'PythonandWorldHello'을 만드시오.

In [32]:
S = 'Hello World and Python'
S = S[-6:] + ' ' + S[-10:-7] + ' ' + S[6:-11] + ' ' + S[:5]
print('역순 문자열:', S)

s_split = S.split()
S = ''.join(s_split)
print('공백 모두 없앤 문자열:', S)

역순 문자열: Python and World Hello
공백 모두 없앤 문자열: PythonandWorldHello

### 2번 설명

슬라이싱을 이용하여 단어의 순서가 역순으로 되어진 문자열 'Python and World Hello'을 만들었다. 다음으로 위의 코드에서 볼 수 있듯이 해당 문자열을 split 해주어 각 단어가 s_split 리스트의 요소로 저장되게 해주었고, join 메소드를 이용하여 s_split 리스트를 다시 문자열로 바꾸어 출력되게 하였다.

### 3번

다음 코드를 보고 물음에 답하시오.  
  
  
    a = [1, 2, 3]  
    b = a * 3  
    c = [a] * 3  
    print(b)  
    print(c)

* 1) 위 코드를 수행한 이후 다음 코드를 수행하고 b와 c의 내용을 확인하시오.

    a[0] = 0

In [29]:
a = [1, 2, 3]
b = a * 3
c = [a] * 3
print(b)
print(c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
<class 'list'>
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
<class 'list'>

In [38]:
a[0] = 0
print(b)
print(c)

[0, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[0, 2, 3], [0, 2, 3], [0, 2, 3]]

* 2) b와 c 객체의 차이는 무엇인가?

### 4번

다음 문자열을 ':'을 기준으로 분리하여 리스트로 만들고 각 문자열의 좌우 공백을 제거하시오. (즉, 문자열 S에서 l을 만들어라)  
  
    s = '  first star  :  second star  :   third star  '
    l = ['first star', 'second star', 'third star']

* 1) for~in 문을 이용한 코드를 작성하시오.

In [6]:
s = '  first star  :  second star  :   third star  '
s_list = s.split(':')
l = []

for i in s_list:
    l.append(i.strip())

print(l)

['first star', 'second star', 'third star']

* 2) 리스트 내포(list comprehension)를 이용한 코드를 작성하시오.

In [7]:
s = '  first star  :  second star  :   third star  '
s_list = s.split(':')

l = [i.strip() for i in s_list]
print(l)

['first star', 'second star', 'third star']

### 4번 설명

1) for~in 문  
먼저 문자열 s를 ':'을 기준으로 split 하여 각 단어가 s_list 리스트의 요소로 저장되게 하였다. 다음으로 리스트의 각 요소를 strip() 처리해주어 앞뒤에 공백이 없도록 하고 최종 출력 리스트 l에 추가하였다.

2) 리스트 내포  
먼저 문자열 s를 ':'을 기준으로 split 하여 각 단어가 s_list 리스트의 요소로 저장되게 하였다. 다음으로 리스트 내포를 이용하여 각 요소를 strip() 처리한 문자열을 요소로 가지고 있는 리스트를 최종 출력 리스트 l에 대입하였다.

### 5번

다음과 같이 0보다 큰 정수 리스트 변수 list를 인자로 받는 함수 addall(list)와 addallodd(list)를 for ~ in 리터널과 리스트 내포 방식으로 각각 제시하시오.
* [참고 1]: 리스트 내포 방식으로 addall() 및 addallodd()함수를 만들 때엔 리스트 내포에 의해 생성된 리스트 결과에 대해 내장 함수를 사용하는 방식을 고려해보시오 (주의: 리스트 내포 방식의 addall() 및 addallodd() 함수의 몸체는 단 1줄로 작성되어야 한다.)  
* [참고 2]: sum() 등의 내장함수 사용 가능함

* 1) addall(list) 함수 (리스트 내의 모든 정수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)
        >>> addall([1])  
         1
        
        >>> addall([1, 2, 3, 4, 5, 6, 7, 8, 9])  
         45

In [44]:
# for~in 리터럴
def addall(list):
    result = 0
    for i in list:
        result += i
    return result

In [45]:
print(addall([1]))
print(addall([1, 2, 3, 4, 5, 6, 7, 8, 9]))

1
45

In [46]:
# 리스트 내포
def addall(list):
    return sum([i for i in list])

In [47]:
print(addall([1]))
print(addall([1, 2, 3, 4, 5, 6, 7, 8, 9]))

1
45

### 5-1) 설명

리스트 각 요소의 합을 저장할 result를 선언해주었고,  
for~in 리터럴 같은 경우에는 반복문을 진행하면서 각 요소를 i에 더해주었고 
리스트 내포 같은 경우에는 sum을 이용하여 리스트의 요소를 모두 더해주었다.

* 2) addallodd(list) 함수 (리스트내의 모든 홀수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.) 
  
        >>> addallodd([1])  
         1  
        
        >>> addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9])  
         25

In [48]:
# for~in 리터럴
def addallodd(list):
    result = 0
    for i in list:
        if i % 2 == 1:
            result += i
    return result

In [49]:
print(addallodd([1]))
print(addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9]))

1
25

In [203]:
# 리스트 내포
def addallodd(list):
    return sum([i for i in list if i % 2 == 1])

In [204]:
print(addallodd([1]))
print(addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9]))

1
25

### 5-2) 설명

반복문 인자 i가 홀수만 되도록 'i % 2 == 1' 조건을 추가한 것을 제외하고 코드 진행 방식은 1)번과 동일하다. 리스트 내포 같은 경우에는 조건문을 마지막 부분에 넣어주면 된다.

### 6번

다음 코드를 보고 물음에 답하시오.

    L1 = [1, 2, 3]
    L2 = [4, 5, 6]
    d = {'low':L1, 'high':L2}
    e = d
    f = d.copy()
    print(d)
    print(e)
    print(f)
    print()
    d['low'] = [10, 20, 30]
    d['high'][1] = 500
    print(d)
    print(e)
    print(f)
    
* 1) 위 코드의 수행 결과 d와 e는 항상 같은 결과를 출력한다. 그 이유는 무엇인가?  
* 2) 위 코드의 수행 결과 마지막 f의 내용은 다음과 같다. 이때 'high'키의 값 내용 중 500이 출력된 이유와 'low'키의 값 내용 중 [1, 2, 3]이 출력된 이유를 설명하시오  
([hint]: shallow copy 관점에서 설명하시오.)  
  
      {'high': [4, 500, 6], 'low': [1, 2, 3]}

### 7번

사전 d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}가 주어졌을 때 다음 요구사항에 맞는 코드를 제시하시오.
* [참고]: d.keys(), d.values()를 통해 리스트를 얻어낸 후 리스트가 지니고 있는 sort(cmp=None, key=None, reverse=False)함수를 활용하시오.  
* 1) 키의 알파벳 오름차순 순서대로 튜플(키, 값)을 차례대로 출력하시오.  
* 2) 키의 알파벳 내림차순 순서대로 튜플(키, 값)을 차례대로 출력하시오.  
* 3) 값의 오름차순 순서대로 튜플(키, 값)을 차례대로 출력하시오.  
* 4) 값의 내림차순 순서대로 튜플(키, 값)을 차례대로 출력하시오.

In [187]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
values = list(d.values())
#print(keys)
#print(values)

In [188]:
# 키의 알파벳 오름차순 순서대로
keys = list(d.keys())

keys.sort()
result = []
for i in keys:
    result.append((i, d[i]))

print(result)

[('five', 5), ('four', 4), ('one', 1), ('three', 3), ('two', 2)]

### 7-1) 설명

d.values()는 변경할 일이 없기 때문에 함수 외부에 선언을 해주었고, sort() 메소드로 인해 d.keys()는 변동이 있을 것이므로 각 함수 내부에 선언을 해주었다.  
사전의 키가 담겨있는 리스트 keys를 sort() 해주면 키가 알파벳 오름차순으로 정렬되게 된다. 최종 출력 리스트 result에 튜플 (키, 값)을 더해주고 result를 출력하면 위의 출력 결과처럼 나온다.

In [189]:
# 키의 알파벳 내림차순 순서대로
keys = list(d.keys())

keys.sort(reverse=True)
result = []
for i in keys:
    result.append((i, d[i]))

print(result)

[('two', 2), ('three', 3), ('one', 1), ('four', 4), ('five', 5)]

### 7-2) 설명

사전의 키가 담겨있는 리스트 keys를 sort() 해주고 매개변수로 'reverse=True'를 추가해주면 키가 알파벳 내림차순으로 정렬되게 된다. 최종 출력 리스트 result에 튜플 (키, 값)을 더해주고 result를 출력하면 위의 출력 결과처럼 나온다.

In [190]:
# 값의 오름차순 순서대로
keys = list(d.keys())

keys.sort(key = lambda x : values)
result = []
for i in keys:
    result.append((i, d[i]))

print(result)

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

### 7-3) 설명

사전의 값이 저장된 리스트 values를 기준으로 keys가 정렬되게 하였다. 그러면 결과로 키가 값의 오름차순으로 정렬되게 된다. 최종 출력 리스트 result에 튜플 (키, 값)을 더해주고 result를 출력하면 위의 출력 결과처럼 나온다.

In [208]:
# 값의 내림차순 순서대로
keys = list(d.keys())

keys.sort(key = lambda x : values)
keys = keys[::-1]
result = []
for i in keys:
    result.append((i, d[i]))
    
print(result)

[('five', 5), ('four', 4), ('three', 3), ('two', 2), ('one', 1)]

### 7-4) 설명

sort()의 매개변수에 'reverse=True'를 추가해도 값의 오름차순으로 정렬되었기 때문에 인덱싱과 슬라이싱을 이용하여 직접 변경하여 값의 내림차순으로 정렬해주었다. 최종 출력 리스트 result에 튜플 (키, 값)을 더해주고 result를 출력하면 위의 출력 결과처럼 나온다.

### 8번

다음 문제를 정확히 읽고 적합한 코딩을 제시하시오.
* length(X)를 다음과 같이 정의한다 : 10진수로 표현된 X의 자릿수
* Strange라는 숫자를 아래과 같이 정의한다.
    * 음이 아닌 정수 중 자릿수가 1인 모든 숫자는 Strange이다.
    * length(X) > 1 인 숫자 X 는 다음 2가지를 만족하면 Strange이다.
        * X는 length(X)로 정확히 나누어 떨어진다.
        * X / length(X) 가 strange이다.
        
        
* 이 문제에서 숫자 하나가 주어질 때, 이 숫자가 Strange인지 판단하는 함수 isStrange(num)을 작성하시오.
* isStrange(num) 함수가 재귀적인 함수가 되도록 작성해 보세요.

In [32]:
def length(x):
    return len(str(x))

In [106]:
def isStrange(num):
    if length(num) == 1:
        return True
    elif isStrange(num // length(num)) and num % length(num) == 0:
        return True
    return False

In [107]:
print(isStrange(0))
print(isStrange(56))
print(isStrange(100))
print(isStrange(7882602506492313600))
print(isStrange(6012302549522098651))

True
True
False
True
False

### 8번 설명

편의상 length(x) 함수를 따로 만들었고, 문자열로 바꾼 정수 x의 길이를 반환하였다.  일단 num이 음수인 경우에는 부호 때문에 length(num)가 최소 2 이상이라서 자릿수가 1이라는 것만 조건으로 세워주었다.  
정수 나눗셈과 재귀를 이용하여 num / length(num)가 Strange임을 판별하였고 num은 length(num)로 정확히 나누어 떨어져야한다는 조건문과 and로 묶어주어 num이 Strange인지 판별하여 맞을시 True, 아닐시 False를 반환하였다.

### 9번

* 1번 그룹, 2번 그룹, ... n번 그룹으로 번호가 매겨진 총 n개의 그룹이 존재하고, ith 그룹에는 임의의 팀원 수 ai 명이 있다.  
하나의 버스 정류장이 있고, 버스는 오직 한 대만 운영한다. 버스는 버스 정류장에 도착하고 모든 그룹은 버스를 통해 여행하길 원한다.
하지만, 같은 그룹에 속한 팀원들은 분리되기를 원치 않는다. 그래서 그룹의 모든 팀원이 탈 수 있을 때 에만 그 그룹은 버스에 탑승한다.
또한, 이들은 그룹의 번호순으로 여행을 하길 원한다. 예를 들어, 3번 그룹은 1번 그룹과 2번 그룹이 여행을 한 뒤에 버스를 탈 수 있거나, 1번 그룹과 2번 그룹이 이미 버스에 탑승한 상태에 있을 때 동시에 버스를 탈 수 있다.
마지막으로, 버스는 빈 좌석이 없을 때 에만 여행을 떠난다.
  
  
* 이 문제에서 각 그룹의 팀원 수가 리스트로 주어질 때, 가능한 모든 버스의 사이즈 x(x명의 사람들이 동시에 탈 수 있음)를 반환하는 함수 solve(a) 를 작성하시오.
* [주의] 반드시 계산 복잡도를 최대한 낮추세요. 아래 예시 3번을 실행했을 때 결과가 바로 나타날 수 있도록!!

In [126]:
def divisor(num_group):
    result = {1, num_group}
    for i in range(2, int(num_group**0.5)+1):
        if num_group % i == 0:
            result.add(i)
            result.add(num_group // i)
    result = list(result)
    result.sort()
    return result

In [159]:
def solve(a):
    bus_size = set({})
    a_set = set(a)
    if len(a_set) == 1:
        return [a[0]*i for i in divisor(len(a))]
    else:
        div = [i for i in divisor(sum(a)) if i >= max(a)]
        for i in div:
            count = 0 
            is_last = 0
            for j in a:
                count += j
                is_last += 1
                if (count == i):
                    count = 0
                    if j == a[-1] and is_last == len(a):
                        bus_size.add(i)
                elif count > i:
                    break
        bus_size = list(bus_size)
        bus_size.sort()
        return bus_size

In [161]:
a = [1, 2, 1, 1, 1, 2, 1, 3]
b = [1, 1, 1, 1]
c = [9999] * 10**5
d = [2, 2, 2, 2, 3, 3, 3, 3]
e = [1, 2, 1, 2, 1, 2, 1, 2]
f = [1, 2, 10, 8, 2, 5, 1, 10]

print(solve(a))
print(solve(b))
print(solve(c))
print(solve(d))
print(solve(e))
print(solve(f))

[3, 4, 6, 12]
[1, 2, 4]
[9999, 19998, 39996, 49995, 79992, 99990, 159984, 199980, 249975, 319968, 399960, 499950, 799920, 999900, 1249875, 1599840, 1999800, 2499750, 3999600, 4999500, 6249375, 7999200, 9999000, 12498750, 19998000, 24997500, 31246875, 39996000, 49995000, 62493750, 99990000, 124987500, 199980000, 249975000, 499950000, 999900000]
[20]
[3, 6, 12]
[39]

### 9번 설명

해당 숫자의 약수를 구하는 divisor 함수를 만들었다. 반복문이 숫자의 제곱근까지 진행되도록 하여 계산 복잡도를 줄여주었다.   
리스트 b, c와 같이 모든 그룹의 팀원 수가 같은 경우는 그룹의 수의 약수 리스트 요소에 팀원의 수를 곱해주면 바로 버스 사이즈의 집합이 나온다. 이 경우가 아닐 시, 반복문을 통해 리스트의 각 요소를 약수 리스트의 각 요소의 값 이상이 될 때까지 더해주었고, 만약 count가 약수 리스트의 각 요소랑 같을 시 반복문을 계속 진행하였고, 다를시 반복문을 종료하여 약수 리스트 다음 요소로 넘어가도록 했다.  
반복문을 진행하다가 결국 j가 마지막 요소에 도달했을 때 약수 리스트 해당 요소를 최종 출력 리스트 bus_size에 추가하였다.

# Incremental Project

* 요구사항 1. CSS와 Javascript 내용도 모두 제거하시오 (이전 숙제에서 이미 제외하였다면 본 요구사항 무시)  

  
* 요구사항 2. 순수 텍스트 안에 존재하는 단어들에 대해 string 모듈을 활용하여 모든 punctuation (구두문자)를 완벽히 제거하시오.
    * 예: ['world!', ':', '+hello+', '~python$$$', '=', 'world'] ---> ['world', 'hello', 'python', 'world']
  
  
* 요구사항 3. 만약 punctuation (구두문자)를 제거한 이후 공백으로 판명되는 단어들은 해당 단어 리스트에서 제거하시오.
    * 예: ['컴퓨터공학부!', '---?', '%지향~', '...'] ---> ['컴퓨터공학부', '', '지향', ''] ---> ['컴퓨터공학부', '지향']
    
    
* 요구사항 4. 다음 5개의 사이트에 대한 단어 출현빈도 결과를 출력하시오.
    * http://cse.koreatech.ac.kr
    * https://www.koreatech.ac.kr
    * http://www.naver.com
    * http://www.daum.net
    * http://www.nytimes.com

In [1]:
import requests

#req1 = requests.get('http://cse.koreatech.ac.kr')
req1 = requests.get('https://cse.koreatech.ac.kr/', verify=False)
req2 = requests.get('https://www.koreatech.ac.kr')
req3 = requests.get('http://www.naver.com')
req4 = requests.get('http://www.daum.net')
req5 = requests.get('http://www.nytimes.com')
req6 = requests.get('https://dorm.koreatech.ac.kr/')
req7 = requests.get('https://hanpyo.com/')

source1 = req1.text
source2 = req2.text
source3 = req3.text
source4 = req4.text
source5 = req5.text
source6 = req6.text
source7 = req7.text

#print(source1)
#print(source2)
#print(source3)
#print(source4)
#print(source5)
#print(source6)
#print(source7)

C:\Users\tnals\anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'cse.koreatech.ac.kr'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

In [2]:
tag_list = ['<head>', '</head>', '<script', '</script>', '<style>', '</style>', '<url>', '</url>']

def delete_tag_content(s, tags, tage):
    source_tmp = s.split(tags)
    source = []
    for i in source_tmp:
        if tage in i:
            #i = i[i.find(tage)+len(tage)-1:]
            i = i[i.find(tage)+len(tage):]
            #if (i != '>'):
                #source.append(i)
            source.append(i)
        else:
            source.append(i)
    source = ''.join(source)
    return source

In [3]:
def modify_source(s):
    for i in range(0, len(tag_list), 2):
        if tag_list[i] in s:
            s = delete_tag_content(s, tag_list[i], tag_list[i+1])
    return s

In [4]:
def delete_html(s):
    text = s.split('>')
    pure_text = []
    #if 
    for i in text:
        if '<' in i:
            i = i[:i.find('<')]
        if '._' in i:
            i = i[:i.find('._')]
        if no_blank(i) != '':
            pure_text.append(no_blank(i))
    return pure_text

In [5]:
# \r\n\t 제거
def no_blank(s):
    pure = ''
    final_pure = ''
    for i in s:
        if i not in '\r\n\t':
            pure = pure + i
        final_pure = pure.strip()
    return final_pure

In [6]:
import string
punc = string.punctuation
punc = punc + '“”'
print(punc)

def just_words(lst):
    final_text = []
    final = ''
    for i in lst:
        text = ''
        for j in i:
            if j not in punc:
                text = text + j
        final = text
        if final != '':
            for k in final.split():
                final_text.append(k)

    return final_text

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~“”

In [7]:
pure1 = delete_html(modify_source(source1))
pure2 = delete_html(modify_source(source2))
pure3 = delete_html(modify_source(source3))
pure4 = delete_html(modify_source(source4))
pure5 = delete_html(modify_source(source5))

In [8]:
def save_dict(lst):
    word_dict = {}
    for i in lst:
        if word_dict.get(i) == None:
            word_dict[i] = 1
        else:
            word_dict[i] = word_dict[i] + 1
    return word_dict

In [9]:
def word_count(word):
    count = 0
    for i in word:
        count += word[i]
    return count

In [18]:
word1 = save_dict(just_words(pure1))
word2 = save_dict(just_words(pure2))
word3 = save_dict(just_words(pure3))
word4 = save_dict(just_words(pure4))
word5 = save_dict(just_words(pure5))

#print(word1)
#print(word2)
#print(word3)
#print(word4)
#print(word5)

print(word_count(word1))
print(word_count(word2))
print(word_count(word3))
print(word_count(word4))
print(word_count(word5))

405
714
3963
882
2664